:root {
  --dark-color: #333;
  --gray-color: #f1f1f1;
  --gray2-color: #6c757d;
  /* --gray2-color: #908a72; */
  --yellow-color: #bf9861;
  --section-color: #fff;
}

a {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-decoration: none;
  transition: 0.4s;
  color: var(--gray2-color);
}

a:hover {
  color: var(--yellow-color);
  background-color: transparent;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}


body {
  font-family: "Roboto", sans-serif;
  direction: rtl;
}

.main-btn {
  padding: 10px;
  color: var(--section-color);
  background-color: var(--dark-color);
  transition: 0.5s;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border: var(--dark-color) solid 1px;
}

.main-btn:hover {
  color: var(--dark-color);
  background-color: var(--gray-color);
}

.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--dark-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Start Navbar */
.navbar {
  background-color: var(--section-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  text-align: center;
  width: 150px;
  margin: 0;
}

@media (max-width: 769px) {
  .navbar .navbar-brand {
    margin-right: 10px;
  }
}

.navbar .navbar-brand:hover {
  background-color: transparent;
}

.navbar .navbar-brand p,
.navbar .navbar-brand span {
  color: var(--yellow-color);
  transition: 0.7s;
  margin: 0;
  padding: 0;
  width: 150px;
  text-align: center;
}

.navbar .navbar-brand:hover p,
.navbar .navbar-brand:hover span {
  color: var(--dark-color);
}

.navbar .navbar-brand p {
  font-size: medium;
}
.navbar .navbar-brand span {
  font-size: small;
  letter-spacing: -0.06em;
}

.navbar .navbar-nav .nav-link {
  color: var(--dark-color);
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--yellow-color);
  background-color: transparent;

}

.navbar .icon svg {
  color: var(--dark-color);
  transition: 0.2s;
}

.navbar .icon img {
  height: 40px;
  width: fit-content;
}

.navbar .icon svg {
  font-size: 20px;
  font-weight: 100;
}
.navbar .icon:hover svg {
  color: var(--yellow-color);
}

.navbar .navbar-toggler {
  color: var(--dark-color);
  font-size: 25px;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--dark-color);
}

.navbar .dropdown-item:hover {
  background-color: var(--gray-color);
  color: var(--yellow-color);
}

.navbar .dropdown-menu {
  width: 230px;
}

.navbar .dropdown-menu .dropdown-item,
.navbar .dropdown-menu .dropdown-item svg,
.navbar .icon svg {
  color: var(--gray2-color);
  transition: 0.5s;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:focus svg {
  color: var(--yellow-color);
}

/* End Navbar */

marquee {
  color: var(--section-color);
  background-color: var(--dark-color);
  z-index: 10;
}
marquee:focus {
  color: var(--yellow-color);
}

.breadcrum-item+.breadcrum-item::before {
  content: " > ";
  color: var(--gray2-color);
  padding: 0 7px;
  font-size: 15px;
}
.breadcrumb .text-dark:focus {
color: var(--yellow-color);
}

/* Start scroll-to-top */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--section-color);
  color: var(--dark-color);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  /* لضمان أن الزر فوق كل العناصر الأخرى */
}

.scroll-to-top i {
  font-size: 20px;
}

.scroll-to-top.show {
  opacity: 100;
  visibility: visible;
}

/* End scroll-to-top */
/* Start Landing */
.landing {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  padding: 0;
}

.landing img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


/* Start Comments */
.comment-container {
  width: 20rem;
  border-left: rgb(238, 238, 238) solid 0.2px;
}

.comment-container .user .user-pic {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
}

.comment-container .user-info svg {
  color: #fbbf24;
}

/* End Comments */
/* Start Product Section */
.product-section {
  padding: 50px 0;
}

.product-section a {
  cursor: pointer
}

.product-card {
  background-color: var(--section-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.8s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  opacity: 0.9;
}

.product-card img {
  height: 27%;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}

.product-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 15px;
}

.btn-group {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.btn-group .btn {
  flex-grow: 1;
  margin: 0 5px;
  z-index: 20;
  transition: 0.5s;
}

.btn-group .btn:focus {
  border: #ff0000;
}

.btn-group .btn svg {
  padding: 10px;
  border: 1px solid var(--dark-color);
  transition: 0.5s;
}

.btn-group .btn-heart:hover svg {
  color: red;
  border: 1px solid red;
}

/* Start product-details Section */
.product-model {
  font-size: 16px;
  color: var(--gray2-color);
}

.payment-option {
  /* border: 1px solid #ccc; */
  border-radius: 8px;
}

.option-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.availability-status {
  color: green;
  font-weight: bold;
}

.availability-status i {
  margin-left: 5px;
}

.payment-method {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.method-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.method-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.method-item p {
  margin: 0;
  font-size: 14px;
}

.method-item a {
  color: #007bff;
  text-decoration: none;
}

.method-item a:hover {
  text-decoration: underline;
}

.product-details-reviews-section .nav-tabs {
  border-bottom: 2px solid #ddd;
}

.product-details-reviews-section .nav-link {
  border: none;
  font-weight: 600;
  color: #555;
}

.product-details-reviews-section .nav-link.active {
  border-bottom: 2px solid #000;
  color: #000;
}


.tab-content .p-4 {
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd; */
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.review-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

/* End product-details */

/* Start Card*/
.Card img {
  min-height: 35vh;
  min-width: 100%;
}

@media (max-width: 769px) {
  .Card img {
    min-height: 20vh;
  }
}

/* End Card*/


/* Start search */
.search-modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.search-modal-content {
  margin: 3% auto;
  width: 40%;
}

.search-modal-content .form-control {
  background-color: var(--section-color);
  color: var(--dark-color);
  padding: 15px;
  outline: none;
  border: none;
  box-shadow: none;
}

.search-modal-content .form-control:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.search-modal-content .form-control-wrapper {
  position: relative;
}

.search-modal-content .form-control-wrapper button {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray2-color);
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  .search-modal-content {
    width: 80%;
  }
}

/* End search*/

/* Start Trademarks-section */
.trademarks-section {
  background-color: var(--gray-color);
}

/* End Trademarks-section*/

/* Start profile */
.profile-section {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--gray-color);
  overflow: hidden;
  margin-bottom: 70px;
  overflow: visible;
}

.profile-section .background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../imgs/pattern-image.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-section .text-overlay {
  font-size: 36px;
  font-weight: bold;
  color: var(--gray-color);
}

.profile-section .profile-info {
  position: absolute;
  top: 80%;
  right: 25%;
  z-index: 20;
}

.profile-section .profile-avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
}

.profile-section .profile-name {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-color);
}

.profile-items-section .nav-tabs {
  border-bottom: 2px solid #e5e7eb;
}

.profile-items-section .nav-link {
  border: none;
  font-weight: 600;
  color: var(--gray2-color);
}

.profile-items-section .nav-link.active {
  border-bottom: 2px solid var(--dark-color);
  color: var(--dark-color);
}

.profile-items-section .nav-link:focus {
  color: var(--yellow-color);
}

.profile-wishlist-section .product-card img {
  height: 100px;
}

.profile-wishlist-section .product-card .btn-group .btn-heart svg {
  color: red;
  border: 1px solid red;
}

.profile-wishlist-section .product-card .btn-group .btn-heart:hover svg {
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.profile-pending-orders-section .pending-orders {
  min-height: 50vh;
}

.profile-item-empty svg {
  font-size: 50px;
  color: #d1d5db;
  background-color: var(--gray-color);
}

/* End profile*/

/* Start Footer */

/* Start cart */
.cart-section .card .cart-content {
  border-bottom: var(--gray-color) 1px solid;
}

/* End cart*/
.footer .info img{
  width: 200px;
}
.footer .copyright>span {
  color: var(--dark-color);
}

.footer .copyright div span {
  color: var(--dark-color);
}

.footer .contact ul a,
.footer .links ul a{
font-size: 15px;
font-weight: 400;
}

.footer .contact ul svg {
  width: 20px;
  height: 20px;
}


.footer .facebook {
  background-color: #1877f2;
}

.footer .twitter {
  background-color: #1da1f2;
}

.footer .linkedin {
  background-color: #0077b5;
}

.footer .youtube {
  background-color: #ff0000;
}

/* End Footer */